header{background-color: rgb(235, 67, 226);
}
.cabecalho-imagem{
background-color: blanchedalmond;
color: white;
display: flex;
justify-content: space-around;
}
.cabecalho-lista-item{
    display: inline-block;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
* {
    margin: 0 16px;
    padding: 24px;
    justify-content: space-around;
    padding: 24px 0;
    font-size: 24px;
}

.cabecalho-imagem{width: 30%;}

