header{background-color: rgb(235, 67, 226);
}
.cabecalho-imagem{
background-color: blanchedalmond;
color: white;
display: flex;
justify-content: space-around;
}




.cabecalho-imagem{width: 30%;}

